:root {
    --color: hsl(0, 0%, 0%);
}

* {
    font-family: sans-serif;
    padding: 0;
}

.cards {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-rows: 0.7fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.testimonial-1 {
    /* position: relative;
    left: 50px; */
    margin: auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
}

.card_1{
    position: relative;
    padding: 10px;
    width: 400px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    text-align: start;
}

.card_1:after {
    position: absolute;
    content: url(assets/pointer.svg);
    transform: rotate(180deg) scale(0.3);
    left: -113px;
    bottom: -75px;
}

a {
    text-decoration: none;
    color: hsl(192, 100%, 47%);
}

.profile {
    display: flex;
    width: 400px;
    gap: 20px;
    margin-top: 10px;
    margin: 0;
}

.testimonial-1 > :last-child {
    position: relative;
    margin-top: 25px;
}

.details :first-child {
    font-weight: 600;
    margin-bottom: 0;
}

.details :last-child {
    margin-top: 5px;
}

.pfp_1{
    width: 80px;
    border-radius: 40px;
    border: 2px solid black;
}

.testimonial-2 {
    position: relative;
    right: 50px;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    padding: 10px;
    font-size: 1.2rem;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 2;
}

.testimonial-3 {
    display: flex;
    padding: 20px;
    gap: 20px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 600px;
    background-color: black;
    border-radius: 20px;
    color: white;
}

.pic_2 {
    width: 300px;
    border-radius: 30px;
}

.card_2 :nth-child(2) {
    font-size: 2rem;
}

.card_2 :nth-child(3) {
    font-size: 1.2rem;
    color: hsl(0, 0%, 35%);
    margin: 0;
}

.card_2 :last-child {
    font-size: 1.5rem;
}
.rating {
    color: gold;
    font-size: 2.5rem;
}

.testimonial-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 800px;
    padding: 40px 100px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.testimonial-4 > :first-child{
    margin-bottom: 50px;
}

.profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.profiles:before {
    content: '\2039';
    transform: scale(200%);
}

.profiles:after {
    content: '\203A';
    transform: scale(200%);
}

.visible {
    width: 65px;
    height: 65px;
}

.blured {
    opacity: 65%;
    width: 55px;
    height: 55px;
    border: none;
}

@media only screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1.3fr 1fr;
        display: grid;
        justify-self: center;
    }

    .testimonial-2 {
        right: 0px;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .testimonial-3 {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 75vw;
    }
    .testimonial-4 {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 75vw;
        height: 250px;
    }
}

@media only screen and (max-width: 850px) {
    .cards {
        align-items: center;
        grid-template-rows: 1fr 1fr 2fr 1fr;
    }

    .testimonial-2 {
        height: 250px;
    }

    .testimonial-3{
        flex-direction: column;
        align-items: center;
    }

    .testimonial-4 {
        height: 300px;
    }
    .pic_2{
        height: 300px;
    }

    .card_2{
        height: 300px;
    }
}