:root {
    --fontfam: "Calibri";
    --bordercolor: hsl(222, 16%, 87%);
    --bgcolor: hsl(0, 0%, 90%);
}

* {
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 1260px) {
    .container {
        flex-direction: column;
        justify-self: center;
    }
}

.article_container {
    display: flex;
    justify-content: center;
    /* adds space between flex items */
    gap: 20px;
    margin: 50px;
}

.box {
    border: 3px solid var(--bordercolor);
    border-radius: 15px;
    background-color: var(--bgcolor);
    height: 650px;
    width: 400px;
}

.image {
    display: flex;
    position: relative;
    top: 10px;
    justify-self: center;
    height: 270px;
    width: 380px;
    border-radius: 15px;
}




.text1 {
    position: relative;
    top: 20px;
    display: flex;
    background-color: var(--bgcolor);
}


.text2 {
    /* Position */
    position: relative;
    justify-self: center;
    justify-items: center;
    top: 5px;
    /* color settings */
    background-color: var(--bordercolor);
    /* size */
    width: 150px;
    height: 50px;
    /* border settings */
    border-radius: 30px;
}


.content {
    margin: 10px;
    padding: 10px;
    /* position     */
    position: relative;
    text-align: center;
    left: 10px;
    /* Size */
    height: 18px;
    width: 60px;
    /* Color and border */
    background-color: var(--bgcolor);
    color: rgb(121, 135, 152);
    border: 3px solid rgb(121, 135, 152);
    border-radius: 95px;
}

.heading {
    position: relative;
    left: 25px;
    /* size */
    width: 300px;
    height: 40px;
    /* text */
    font-size: 40px;
    font-family: var(--fontfam);
    color: rgb(14, 38, 50);
    background-color: var(--bgcolor);
}

.article_container1 {
    /* size */
    position: relative;
    top: 15px;
    background-color: var(--bgcolor);
    height: 210px;
    width: 400px;
}

.para {
    /* position */
    position: relative;
    top: 20px;
    left: 25px;
    /* size */
    width: 360px;
    height: 150px;
    /* font */
    font-size: 25px;
    font-family: var(--fontfam);
    /* Color */
    color: rgb(181, 188, 197);
    background-color: var(--bgcolor);
}

.content1 {
    /* font settings */
    font-family: var(--fontfam);
    text-align: center;
    font-size: 20px;
    /* size */
    width: 100px;
    /* position */
    left: 0px;
    top: 0px;
    /* color */
    color: hsl(221, 44%, 34%);
    background-color: var(--bordercolor);
    border: none;
}