:root {
  --bg-color: #ffffff;
  --link-color: #007acc;
  --link-dark: #005bb5;
  --sub-color: #565861;
  --sub-alt-color: #2b2d31;
  --text-color: #000000;
  --card-color: #005bb5;
}

.darkmode:root {
  --bg-color: #000000;
  --link-color: #5a65ea;
  --link-dark: #7e75ff;
  --sub-color: #565861;
  --sub-alt-color: #2b2d31;
  --text-color: #ffffff;
  --card-color: #7e75ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Calibri";
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--sub-color);
}

span {
  font-family: "Rosarivo", "cursive";
  font-weight: bold;
  font-size: 2.3rem;
  padding: 1rem;
}

.navigations {
  display: flex;
  padding: 0px 2rem;
  gap: 50px;
  align-items: center;
  font-size: 1.4rem;
}

nav a {
  text-decoration: none;
  color: var(--link-color);
  padding: 0.5rem 1rem;
  border: 2px solid var(--link-color);
  border-radius: 10px;
}

nav a:hover {
  color: var(--text-color);
  background-color: var(--link-color);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0rem;
  margin: 3rem;
  gap: 2rem;
  font-size: 1.4em;
}

.info-p{
    font-size: 1.2rem;
}

.body {
    display: grid;
    grid-template-columns:  repeat(10, 1fr);
    justify-self: center;
    width: 95%;
}

.project {
  grid-column: 1/3;
}

.project > h1 {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.project > ul > li {
  list-style: none;
  padding: 1rem;
  font-size: 1.4rem;
}

.work-exp {
  grid-column: 4/6;
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0rem;

  a {
    text-decoration: none;
    color: var(--link-color);
  }
}

.education {
  grid-column: 8/11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.education > ul > li {
  position: relative;
  list-style-position: inside;
}

blockquote {
  margin: 2rem 0rem;
  padding: 2rem;
  border: 1px solid var(--link-color);
  border-radius: 30px;
  font-size: 1.2rem;
  text-align: center;
}

blockquote > p {
  margin: 1rem;
  padding: 1rem;
}

blockquote > footer {
  margin: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--sub-color);
}

.footer {
  margin: 2rem;
  border-top: 2px solid var(--sub-color);
  display: flex;
  justify-content: center;
}

.footer > p {
  padding: 2rem;
  font-size: 1.4rem;
  text-align: center;
}

/* Projects */
.project_sec ul p {
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
}

/* Articles */
.article {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article > section > h1 {
  padding: 2rem;
}

.article > section > div > a {
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background-color: var(--card-color);
  font-size: 2rem;
  font-weight: bold;
}

.article > section > div > a:hover {
  transition: 0.5s ease 0s;
  transform: scale(1.5);
}

.article > section > div > p {
  text-align: center;
  color: white;
  background-color: var(--card-color);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 40%;
  margin: 2rem;
  padding: 1rem;
  border: 2px solid var(--card-color);
  border-radius: 10px;
  background-color: var(--card-color);
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.4rem;
}

label {
  margin: 1rem;
}

input,
textarea {
  padding: 0.7rem;
  border: 1px solid var(--sub-color);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 4px solid var(--link-color);
  border-radius: 10px;
}

button {
  margin: 2rem;
  padding: 1rem 0.1rem;
  border: 2px solid var(--link-color);
  background-color: var(--link-color);
  border-radius: 10px;
  color: var(--bg-color);
  font-size: 1.4rem;
}

button:hover {
  background-color: var(--link-dark);
  border: 2px solid var(--link-dark);
}

@media only screen and (max-width: 600px) {
  
  .navbar {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
  }

  .navigations {
    transform: scale(0.7);
  }

  blockquote {
    width: 80vw;
  }

  blockquote > footer,
  blockquote > p {
    margin: 0, 0.5rem;
    padding: 0;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }

  .project {
    justify-items: center;
    text-align: center;
  }

  .project > h1 {
    margin-left: 0;
  }
  .card {
    justify-self: center;
    width: 60%;
  }

  .work-exp > h1, .education >h1 {
    text-align: center;
    margin: 1rem;
  }
  li > p {
    font-size: 1rem;
  }

  li > a {
    font-size: 1.2rem;
  }
}
