.navbar {
    display: flex;
    justify-content: space-between;
}

span {
    color: black;
    font-family: 'Rosarivo', 'cursive';
    font-weight: bold;
    font-size: 2.3rem;
    padding: 10px;
}

.navigations {
    display: flex;
    margin: 0px 20px;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    font-size: 20px;
}

.bold {
    font-weight: 600;
}