:root{
    --primary-color: hsl(210, 100%, 45%);

}

*{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    background-color: hsl(0, 0%, 90%);
}


nav {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

a{ 
    position: relative;
    display: flex;
    padding: 10px 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-color);
}

.tooltip{
    visibility: hidden;
    display: flex;
    position: absolute;
    bottom: 100px;
    background: black;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    text-align: center;
    justify-content: center;
}

.after {
    display: block;
    content: '';
    position: absolute;
    border: 4px solid black;
    top: 38px;
    transform: scale(2.5);
    border-color: black transparent transparent transparent;
}

a:hover{
    position: relative;
    background-color: var(--primary-color);
    color: white;
}

/* animation */
@keyframes up-down {
    /* from{bottom: 0px;} */
    from{bottom: 80px;}
    to{bottom: 100px;}
}

.pop:hover > .tooltip {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    visibility: visible;
    animation: up-down 0.2s ease 0s 1 normal forwards;
}

@keyframes blink-ani {
    0% {bottom: 100px; opacity: 0.0; filter: blur(5px);}
    50% {bottom: 100px; opacity: 0.5; filter: blur(0px);}
    100% {bottom: 100px; opacity: 1.0; filter: blur(0);}

}

.blink:hover > .tooltip {
    visibility: visible;
    animation: blink-ani 0.5s ease 0s 1 normal forwards;
}

@keyframes flip-flop {
        
    0% {
        transform: rotateX(90deg); opacity:0;
    }
    50% {
        transform: rotateX(10deg); opacity:1;
    }
    100% {
        transform: rotateX(0deg);
    }
}

.flip:hover > .tooltip{
    visibility: visible;
    animation: flip-flop 1s ease 0s 1 normal forwards;
}

@keyframes shake-it {
        
    0% {
        transform:translate(0);
    }
    50% {
        transform:translate(0px, 4px);
    }
    100% {
        transform:translate(0px, -4px);
    }
}

.shake:hover > .tooltip{
    visibility: visible;
    animation: shake-it 1s ease 0s infinite normal none;
}